---
layout: archive
title: "Talks and presentations"
permalink: /talks/
excerpt: "A list of recent talks that I have given"
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2><i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> Academic</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2><i class="fa fa-fw fa-handshake-o" aria-hidden="true"></i> Outreach</h2>

{% for post in site.outreach reversed %}
  {% include archive-single-nolink.html %}
{% endfor %}
