---
layout: archive
title: "Teaching"
permalink: /teaching/
excerpt: "Details of teaching I have done recently"
author_profile: true
---

{% include base_path %}

The following is a list of my current and previous teaching.

<h2>Current</h2>

{% for post in site.teaching reversed %}
	{% if post.current-teaching %}
		{% include archive-single.html %}
	{% endif %}
{% endfor %}

<h2>Previous</h2>

{% for post in site.teaching reversed %}
	{% if post.current-teaching %}
	{% else %}
		{% include archive-single.html %}
	{% endif %}
{% endfor %}
