/*
   iframe
   ========================================================================== */

.char-recog-iframe-container {
  overflow: hidden;
	position: relative;
	padding-top: 200.00%;
	width: 300;
  @include breakpoint($large) {
		/* 2:1 aspect ratio */
		padding-top: 50.00%;
		width: 100%
	}
}

.char-recog-iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
	 overflow: hidden;
}
